/* Estilos globales */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Estilos de la navegación */
nav {
  background-color: #333;
  color: #fff;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav a:hover {
  background-color: #fff;
  color: #333;
}

/* Estilos del header */
header {
  height: 400px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header h1 {
  font-size: 3rem;
  color: #333;
  margin-bottom: 20px;
  transition: color 0.3s ease;
}

header h1:hover {
  color: #999;
}

header p {
  font-size: 1.5rem;
  color: #666;
  text-align: center;
  max-width: 600px;
}

/* Estilos de los proyectos */
#projects {
  margin-top: 50px;
}

#projects h2 {
  text-align: center;
}

#projects ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

#projects li {
  width: calc(25% - 20px);
  margin-bottom: 40px;
  list-style: none;
}

#projects img {
  width: 100%;
  border-radius: 5px;
}

#projects h3 {
  margin-top: 10px;
  font-size: 1.2rem;
  text-align: center;
}

#projects h4 {
  font-size: 1rem;
  color: #666;
  text-align: center;
}

/* Estilos de la sección de contacto */
#contact {
  margin-top: 50px;
  text-align: center;
}

#contact h2 {
  margin-bottom: 20px;
}

#contact p {
  font-size: 1.2rem;
  color: #666;
}
