body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

header {
	background-color: #fff;
	color: #333;
	padding: 20px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline-block;
	margin-right: 20px;
}

nav ul li:last-child {
	margin-right: 0;
}

nav ul li a {
	color: #333;
	text-decoration: none;
}

#projects {
	padding: 50px;
	background-color: #f2f2f2;
	text-align: center;
	flex: 1;
}

.project {
	margin-bottom: 50px;
	display: inline-block;
	text-align: left;
	background-color: #fff;
}

.project h2 {
	margin-top: 0;
}

.project p {
	margin-top: 0;
}

.project a {
	display: inline-block;
	background-color: #333;
	color: #fff;
	padding: 10px;
	text-decoration: none;
}

#header-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 1200px;
